# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General section
##########################################################################################################

general {

    ##########################################################################################################
    # debug
    #--------------------------------------------------------------------------------------------------------#
    # Debug section
    ##########################################################################################################

    debug {
        # Enable Debug Print Log [default: false]
        B:enableDebugMode=false

        # Enable GTNL Quest, add more quest [default: false]
        B:enableQuest=true
    }

    ##########################################################################################################
    # effect
    #--------------------------------------------------------------------------------------------------------#
    # Effect section
    ##########################################################################################################

    effect {
        # When the player dies and respawns, give the player Ghost Shape effect [default: true]
        B:enableGhostlyShape=true
    }

    ##########################################################################################################
    # item
    #--------------------------------------------------------------------------------------------------------#
    # Item section
    ##########################################################################################################

    item {

        ##########################################################################################################
        # player_doll
        #--------------------------------------------------------------------------------------------------------#
        # Player Doll
        ##########################################################################################################

        player_doll {
            # Enable Custom Player Skin for Player Doll [default: true]
            B:enableCustomSkin=true

            # Make Play Doll to MAX Tier Glass [default: true]
            B:enableRegisterMAXTierGlass=true
        }

        ##########################################################################################################
        # vein_miner_pickaxe
        #--------------------------------------------------------------------------------------------------------#
        # Vein Miner Pickaxe
        ##########################################################################################################

        vein_miner_pickaxe {
            # Set maximum number of chained blocks for Vein Mining Pickaxe [range: -2147483648 ~ 2147483647, default: 327670]
            I:maxAmount=327670

            # Set maximum block distance for Vein Mining Pickaxe [range: -2147483648 ~ 2147483647, default: 32]
            I:maxRange=32
        }

        ##########################################################################################################
        # stick
        #--------------------------------------------------------------------------------------------------------#
        # Stick
        ##########################################################################################################

        stick {
            # Enable stick fake item and block [default: true]
            B:enableStickItem=true
        }

        ##########################################################################################################
        # steam_rocket
        #--------------------------------------------------------------------------------------------------------#
        # Steam Rocket
        ##########################################################################################################

        steam_rocket {
            # The Page ID for the Steam Rocket Schematic [range: -2147483648 ~ 2147483647, default: 114514]
            I:idSchematicRocketSteam=114514

            # The GUI ID for the NASA Workbench when using Steam Rocket Schematic [range: -2147483648 ~ 2147483647, default: 114514]
            I:nasaWorkbenchSteamRocket=114514
        }

    }

    ##########################################################################################################
    # machine
    #--------------------------------------------------------------------------------------------------------#
    # Machine section
    ##########################################################################################################

    machine {
        # Allow interaction with machines from their main facing (similar to GTM behavior) [default: false]
        B:allowMainFacingInteraction=false

        # Default energy consumption per operation (in AE/t) [range: 4.9E-324 ~ 1.7976931348623157E308, default: 10.0]
        D:beamFormerEnergyConsume=10.0

        # Default maximum beam length (in blocks) [range: -2147483648 ~ 2147483647, default: 256]
        I:beamFormerLength=256

        # Enhance the display of input hatch bus in interface terminal to support the machine current recipe map and virtual programming circuit [default: true]
        B:enableHatchInterfaceTerminalEnhance=true

        # Enable Integrated Ore Factory Change, change parallel to 65536 and can use Laser Energy Hatch [default: true]
        B:enableIntegratedOreFactoryChange=true

        # Set Machine Can Use Laser Hatch [default: false]
        B:enableLaserHatch=false

        # Enable Purification Plant Buff, add Wireless mode and max long parallels [default: false]
        B:enablePurificationPlantBuff=false

        # Enable Output Change Function [default: true]
        B:enableRecipeOutputChance=true

        # Enable Void Miner Tweak, allows you to override target dimension that Void Miner mines [default: true]
        B:enableVoidMinerTweak=true

        # Change Recipe Item Output, like QFT [range: 4.9E-324 ~ 1.7976931348623157E308, default: 2.5]
        D:recipeOutputChance=2.5

        ##########################################################################################################
        # quantum_computer
        #--------------------------------------------------------------------------------------------------------#
        # Quantum Computer
        ##########################################################################################################

        quantum_computer {
            # Maximum number of data entangler allowed in a Quantum Computer [range: 1 ~ 2147483647, default: 1]
            I:maxDataEntangler=1

            # Maximum number of multi threader allowed in a Quantum Computer [range: 1 ~ 2147483647, default: 1]
            I:maxMultiThreader=1

            # Maximum size allowed for a Quantum Computer multiblock structure [range: 3 ~ 2147483647, default: 7]
            I:maxMultiblockSize=7
        }

        ##########################################################################################################
        # meteor_miner
        #--------------------------------------------------------------------------------------------------------#
        # Meteor Miner
        ##########################################################################################################

        meteor_miner {
            # Set the Meteor Miner how many every cycle break a block [range: -2147483648 ~ 2147483647, default: 1]
            I:meteorMinerMaxBlockPerCycle=1

            # Set the Meteor Miner how many every cycle break row blocks [range: -2147483648 ~ 2147483647, default: 1]
            I:meteorMinerMaxRowPerCycle=1
        }

        ##########################################################################################################
        # artificial_star
        #--------------------------------------------------------------------------------------------------------#
        # Artificial Star
        ##########################################################################################################

        artificial_star {
            # Open RenderDefaultArtificialStar rendering [default: true]
            B:EnableDefaultRender=true

            # Set the power generation of EU Every Depleted Excited Naquadah FuelRod [range: -2147483648 ~ 2147483647, default: 4125000]
            I:euEveryDepletedExcitedNaquadahFuelRod=4125000

            # Set the power generation of EU Every Enhancement Core [range: -2147483648 ~ 2147483647, default: 100]
            I:euEveryEnhancementCore=100

            # Set secondsOfArtificialStarProgressCycleTime running time [range: 4.9E-324 ~ 1.7976931348623157E308, default: 6.4]
            D:secondsOfArtificialStarProgressCycleTime=6.4
        }

        ##########################################################################################################
        # eternal_gregtech_workshop
        #--------------------------------------------------------------------------------------------------------#
        # Eternal Workshop
        ##########################################################################################################

        eternal_gregtech_workshop {
            # Enable Eternal GregTech Workshop Spiral Render, like DNA [default: false]
            B:spiralRender=false
        }

        ##########################################################################################################
        # portal_to_alfheim
        #--------------------------------------------------------------------------------------------------------#
        # Portal Alfheim
        ##########################################################################################################

        portal_to_alfheim {
            # Setting this to false will reduce the Portal To Alfheim explosion to little more then a tnt blast [default: true]
            B:bigBoom=true
        }

    }

    ##########################################################################################################
    # message
    #--------------------------------------------------------------------------------------------------------#
    # Message section
    ##########################################################################################################

    message {
        # Enable showing loaded mods info to player [default: true]
        B:enableShowAddMods=true

        # Enable welcome message when player joins [default: true]
        B:enableShowJoinMessage=false
    }

    ##########################################################################################################
    # other
    #--------------------------------------------------------------------------------------------------------#
    # Other section
    ##########################################################################################################

    other {
        # Enable sending the unfinished chat message when player dies [default: true]
        B:enableDeathIncompleteMessage=true

        # Enable Saturation Heal Tweak. When hunger is 20, player regenerates health based on saturation / 6, up to 1 HP per 0.5s [default: true]
        B:enableSaturationHeal=true

        not_enough_items {
            # Enable a special icon for cheat mode [default: false]
            B:enableSpecialCheatIcon=false

            # Specify the type of the special cheat icon [range: -2147483648 ~ 2147483647, default: 0]
            I:specialIconType=0
        }

    }

    ##########################################################################################################
    # re_avaritia
    #--------------------------------------------------------------------------------------------------------#
    # Re Avaritia section
    ##########################################################################################################

    re_avaritia {
        # The OreDict used for unbreakable blocks in the Extreme Anvil [default: neutronUnbreak]
        S:unbreakOre=neutronUnbreak

        ##########################################################################################################
        # infinity_sword
        #--------------------------------------------------------------------------------------------------------#
        # Infinity Sword
        ##########################################################################################################

        infinity_sword {
            # Enable Infinity Sword bypass against Blood Sword and Draconic Armor [default: true]
            B:enableBypass=true

            # Enable when Infinity Sword hit Infinity Suit create Explosion [default: true]
            B:enableExplosion=true

            # Enable Player Special Render [default: true]
            B:enableSpecialRender=true
        }

        ##########################################################################################################
        # chronarch_clock
        #--------------------------------------------------------------------------------------------------------#
        # Chronarch Clock
        ##########################################################################################################

        chronarch_clock {
            # Change Chronarchs Clock Cooldown [range: -2147483648 ~ 2147483647, default: 600]
            I:chronarchsClockCooldown=600

            # Duration of the clock's effect in ticks [range: -2147483648 ~ 2147483647, default: 200]
            I:chronarchsClockDurationTicks=200

            # Effective radius in blocks [range: -2147483648 ~ 2147483647, default: 3]
            I:chronarchsClockRadius=3

            # Speed multiplier for the clock [range: -2147483648 ~ 2147483647, default: 256]
            I:chronarchsClockSpeedMultiplier=256
        }

    }

    ##########################################################################################################
    # recipe
    #--------------------------------------------------------------------------------------------------------#
    # Recipe section
    ##########################################################################################################

    recipe {
        # Significantly reduce the time required for crafting recipes [default: false]
        B:enableAssemblingLineRecipesTimeChange=false

        # Buff all chamber recipes [default: true]
        B:enableChamberRecipesBuff=true

        # Enable Delete Recipe [default: true]
        B:enableDeleteRecipe=true

        # Enable when player join world, Show Big Title [default: true]
        B:enableShowDelRecipeTitle=true

        # Enable Something Cheap Recipe [default: true]
        B:enableSomethingRecipe=true
    }

    ##########################################################################################################
    # super_creeper
    #--------------------------------------------------------------------------------------------------------#
    # Super Creeper section
    ##########################################################################################################

    super_creeper {
        # Allow creeper explosions to ignore mobGriefing gamerule and always break blocks [default: false]
        B:allowCreeperExplosionBypassGamerule=false

        # Search radius for blocks [range: -2147483648 ~ 2147483647, default: 16]
        I:blockFindRadius=16

        # Interval in ticks between block targeting scans [range: -2147483648 ~ 2147483647, default: 30]
        I:blockTargetInterval=30

        # Ticks before Creeper explodes due to burning. [range: -2147483648 ~ 2147483647, default: 30]
        I:burningExplosionTimer=30

        # The higher this value, the faster the creeper moves as it gets closer to its target [range: 4.9E-324 ~ 1.7976931348623157E308, default: 3.0]
        D:creeperSpeedBonusScale=3.0

        # List of target block IDs. Format: 'modid:blockname' or 'modid:blockname:meta'. [default: [minecraft:chest], [appliedenergistics2:tile.BlockDrive], [gregtech:gt.blockmachines], [appliedenergistics2:tile.BlockController]]
        S:defaultTargetBlocks <
            minecraft:chest
            appliedenergistics2:tile.BlockDrive
            gregtech:gt.blockmachines
            appliedenergistics2:tile.BlockController
         >

        # Enable Creeper explosion when burning. [default: true]
        B:enableCreeperBurningExplosion=true

        # Enable Creeper to find and mount nearby Spiders. [default: true]
        B:enableCreeperFindSpider=true

        # Enable creeper explosion reaction when damaged by another creeper (not only when killed). [default: true]
        B:enableCreeperHurtByCreeperExplosion=true

        # Enable creeper to explode immediately when killed while already ignited. [default: true]
        B:enableCreeperIgnitedDeathExplosion=true

        # Enable Creeper explosion when killed by another Creeper. [default: true]
        B:enableCreeperKilledByCreeperExplosion=true

        # Enable super creeper, can find you chest and more [default: false]
        B:enableSuperCreeper=false

        # Power of the explosion caused by Super Creeper [range: -2147483648 ~ 2147483647, default: 3]
        I:explosionPower=3

        # Distance at which the Super Creeper will trigger its explosion. [range: 4.9E-324 ~ 1.7976931348623157E308, default: 2.5]
        D:explosionTriggerRange=2.5

        # Movement speed multiplier for Super Creeper [range: 4.9E-324 ~ 1.7976931348623157E308, default: 1.0]
        D:moveSpeed=1.0

        # Search radius for players [range: -2147483648 ~ 2147483647, default: 16]
        I:playerFindRadius=16

        # Interval in ticks between player targeting scans [range: -2147483648 ~ 2147483647, default: 10]
        I:playerTargetInterval=10

        # Radius in which Creepers search for Spiders. [range: -2147483648 ~ 2147483647, default: 16]
        I:spiderFindRadius=16

        # Spider move speed when mounted by a Creeper. [range: 4.9E-324 ~ 1.7976931348623157E308, default: 1.3]
        D:spiderMoveSpeed=1.3

        # Interval (in ticks) between Creeper spider targeting attempts. [range: -2147483648 ~ 2147483647, default: 20]
        I:spiderTargetInterval=20
    }

    ##########################################################################################################
    # tickrate
    #--------------------------------------------------------------------------------------------------------#
    # Tickrate section
    ##########################################################################################################

    tickrate {
        # Default tickrate. The game will always initialize with this value. [range: 1.4E-45 ~ 3.4028235E38, default: 20.0]
        S:defaultTickrate=20.0

        # Maximum tickrate from servers. Prevents really high tickrate values. [range: 1.4E-45 ~ 3.4028235E38, default: 1000.0]
        S:maxTickrate=1000.0

        # Minimum tickrate from servers. Prevents really low tickrate values. [range: 1.4E-45 ~ 3.4028235E38, default: 0.1]
        S:minTickrate=0.1
    }

    ##########################################################################################################
    # minecraft
    #--------------------------------------------------------------------------------------------------------#
    # Minecraft section
    ##########################################################################################################

    minecraft {
        # Enhances the /kill command to support modern selectors and improved behaviour. [default: true]
        B:enableKillEnhance=true
    }

}


