# Configuration file

##########################################################################################################
# DEBUG_CONFIG
#--------------------------------------------------------------------------------------------------------#
# The Debug config setting
##########################################################################################################

DEBUG_CONFIG {
    # is enable debug mode [default: false]
    B:debugMode=false
}


##########################################################################################################
# Lang_Manger
#--------------------------------------------------------------------------------------------------------#
# List the mod IDs here to manage your GTNH language files.
# If you don't know the mod ID, please write a different name instead.
##########################################################################################################

Lang_Manger {
    # List the mod IDs here to manage your GTNH language files [default: [NHUtilities], [TwistSpaceTechnology], [boxplusplus], [programmablehatches], [123Technology], [eyeofharmonybuffer], [ScienceNotLeisure], [thinktech], [ae2thing], [gtnn], [TakoTech], [gtnothard], [cheapervoidminers]]
    S:listeningMods <
        NHUtilities
        TwistSpaceTechnology
        boxplusplus
        programmablehatches
        123Technology
        eyeofharmonybuffer
        ScienceNotLeisure
        thinktech
        ae2thing
        gtnn
        TakoTech
        gtnothard
        cheapervoidminers
     >
}


##########################################################################################################
# Mass_Config
#--------------------------------------------------------------------------------------------------------#
# A config region to Mass!./I need!!
##########################################################################################################

Mass_Config {
    # enable Debug Maintenance Hatch Recipe [default: true]
    B:enableDebugMaintenanceHatchRecipe=true

    # enable Dense ME Channel MTEHatches [default: true]
    B:enableDenseMEChannelMTEHatches=true

    # enable Egg Machine [default: true]
    B:enableEggMachine=true

    # enable Enhance Oven Glove [default: true]
    B:enableEnhanceOvenGlove=true

    # enable GluttonyRing & AndHungerRing [default: true]
    B:enableGluttonyRingAndHungerRing=true

    # enable Hologram Item Channel Feature [default: true]
    B:enableHologramItemChannelFeature=true

    # enable Remove Pollution Effect For Player [default: true]
    B:enableRemovePollutionEffectForPlayer=true

    # enable Test Item [default: true]
    B:enableTestItem=true

    # An offset of meta id for machines [range: -5000 ~ 5000, default: 0]
    I:metaIdOffset=0
}


##########################################################################################################
# Mixin_Config
#--------------------------------------------------------------------------------------------------------#
# Control the corresponding functions of Mixin
##########################################################################################################

Mixin_Config {
    # disable Chest Cover (Item Holder) Stack Size Limit [default: true]
    B:disableChestCoverStacksizeLimit=true

    # disable Dolly Debuff [default: true]
    B:disableDollyDebuff=true

    # disable Super Chest Or Tank Debuff [default: true]
    B:disableSuperChestOrTankDebuff=true

    # enable Accelerate EnderIO Machine [default: true]
    B:enableAccelerateEnderIoMachine=true

    # Always Display NEI Recipe Original Voltage [default: true]
    B:enableAlwaysDisplayNEIOriginalVoltage=true

    # Always Display Recipe Owner [default: true]
    B:enableAlwaysDisplayRecipeOwner=true

    # Always Display Waila AverageNS [default: true]
    B:enableAlwaysDisplayWailaAverageNS=true

    # enable Enhanced ExU Healing Axe [default: true]
    B:enableEnhancedExUHealingAxe=true

    # enable Enhanced TeleporterMKII [default: true]
    B:enableEnhancedTeleporterMKII=true

    # enable Lunch Box Plus [default: true]
    B:enableLunchBoxPlus=true

    # enable Modify EnderIo Cap Bank Max IO [default: true]
    B:enableModifyEnderIoCapBankIO=true

    # enable WE Tool With Exu Healing Axe [default: false]
    B:enableWEToolWithExuHealingAxe=false
}


##########################################################################################################
# Time_Vial
#--------------------------------------------------------------------------------------------------------#
# The TimeVial config setting
##########################################################################################################

Time_Vial {
    # accelerate Block Interval [range: 2 ~ 200, default: 2]
    I:accelerateBlockInterval=2

    # accelerate GregTech Machine Discount [range: 0.0 ~ 1.0, default: 0.8]
    S:accelerateGregTechMachineDiscount=0.8

    # set time vial volume [range: 0.0 ~ 5.0, default: 0.5]
    S:defaultTimeVialVolume=0.5

    # disable the modification of shift to cancel gt mode => (equivalent to Torcherino mode with GT disabled) [default: false]
    B:disableShiftModification=false

    # enable Accelerate GregTech Machine [default: true]
    B:enableAccelerateGregTechMachine=true

    # enable Block Mode [default: true]
    B:enableBlockMode=true

    # enable Eternity Vial [default: true]
    B:enableEternityVial=true

    # enable Eternity Vial Cosmic Render [default: true]
    B:enableEternityVialCosmicRender=true

    # enable Eternity Vial Cosmic Render Deepening [default: true]
    B:enableEternityVialCosmicRenderDeepening=true

    # enable log info debug [default: false]
    B:enableLogInfo=false

    # enable Number Multiplier Texture [default: false]
    B:enableNumberMultiplierTexture=false

    # enable Reset Remaining Time When Every Apply TimeVial [default: false]
    B:enableResetRemainingTime=false

    # enable Simple Time Vial Recipe [default: false]
    B:enableSimpleTimeVialRecipe=false

    # enable Time Accelerator Boost, boost to 256X [default: false]
    B:enableTimeAcceleratorBoost=false

    # enable Time Vial [default: true]
    B:enableTimeVial=true

    # limit One TimeVial [default: true]
    B:limitOneTimeVial=true

    # set time vial discount value [range: 0.0 ~ 1.0, default: 0.9965]
    S:timeVialDiscountValue=0.9965
}


##########################################################################################################
# Wireless_Hatch_More
#--------------------------------------------------------------------------------------------------------#
# More Wireless Hatch!
##########################################################################################################

Wireless_Hatch_More {
    # Ban Original Wireless Recipes [default: true]
    B:enableBanOriginalWirelessRecipes=true

    # enable Custom Sort Of Hatch [default: true]
    B:enableCustomSortOfHatch=true

    # Modify To New Wireless Hatch Texture [default: true]
    B:enableModifyWirelessHatchTexture=true

    # enable Old Recipes Of Wireless Hatch [default: false]
    B:enableOldRecipesOfWirelessHatch=false

    # enable modify the Wireless Data Hatch Or Computation Hatch recipes [default: true]
    B:enableWirelessDataHatchOrComputationHatch=true

    # enable More Wireless Hatch [default: true]
    B:enableWirelessHatchMore=true

    # An offset of meta id for wireless hatch more obj [range: -5000 ~ 5000, default: 0]
    I:wirelessHatchMetaIdOffset=0
}


