# Configuration file

##########################################################################################################
# ae2thing
#--------------------------------------------------------------------------------------------------------#
# Settings for AE2Thing.
##########################################################################################################

ae2thing {
    # Set backpack terminal magnet range [range: 8 ~ 64, default: 32]
    I:"Backpack terminal magnet range"=32

    # Enable link Cell,It will link every same uuid cell [default: true]
    B:"Enable link cell"=true

    # Set Ex IO Port Transfer Rate. Base transfer quantity = 256. Make sure you have enough power to transfer stack. [range: 256 ~ 2147483647, default: 256]
    I:"Ex IO Port Transfer Rate"=256

    # Terminal create update view thread [default: true]
    B:"Terminal updateView thread"=true

    # Let Backpack Terminal can forge tic tool [default: false]
    B:Tic=false

    # Wireless connector terminal enable color selection [default: true]
    B:"Wireless connector terminal color selection"=true

    # Wireless connector terminal infinity connection range [default: true]
    B:"Wireless connector terminal infinity connection range"=true

    # crafting history size [range: 100 ~ 300, default: 200]
    I:"crafting history size"=200
}


