# Configuration file

general {
    # Count of items that the basic storage box can hold. [range: 1 ~ 2147483647, default: 400]
    I:basicCapacity=400

    # Count of items that the condensed storage box can hold. [range: 1 ~ 2147483647, default: 4000]
    I:condensedCapacity=4000

    # Enables experimental content that might not be stable enough or has known quirks. [default: false]
    B:experimentalContent=false

    # Focus the input field when opening a storage GUI. [default: true]
    B:focusGuiInput=true

    # Whether the search text is preserved when reopening the storage GUI. [default: false]
    B:guiSaveSearch=false

    # Last used search mode for the storage GUI. Values: AUTO, NEI_SYNC, NEI_STANDARD, STANDARD [default: AUTO]
    S:guiSearchMode=AUTO

    # The saved search text, only used when guiSaveSearch is true. [default: ]
    S:guiSearchText=

    # Last used sort mode for the storage GUI. Values: AMOUNT, NAME, MOD [default: AMOUNT]
    S:guiSortMode=AMOUNT

    # Last used sort order for the storage GUI. Values: DESCENDING, ASCENDING [default: DESCENDING]
    S:guiSortOrder=DESCENDING

    # Count of items that the hyper storage box can hold. [range: 1 ~ 2147483647, default: 400000]
    I:hyperCapacity=400000

    # The maximum amount of different items that can be stored within one storage core, 0 disables the feature, -1 enables the automatic mode.
    # This option tries to ensure the NBT data wont get too large wich would normally lead to world corruption (network packages going too large).
    # It is hightly recommended to install hodgepodge to increase the network package size limit! [range: 0 ~ 2147483647, default: 0]
    I:maxItemTypes=65000

    # If enabled, sets the limit of 'maxItemTypes' automatically to a possibly harmless value, depending if Hodgepodge is present or not.
    # It is hightly recommended to install hodgepodge to increase the network package size limit! [default: true]
    B:maxItemTypesAutoMode=true
}


