# Configuration file

general {
    # Bees yield rate [range: 0.1 ~ 64.0, default: 4.0]
    S:beesYield=4.0

    # Vanilla (and derivatives) and Natura crops yield rate [range: 0.1 ~ 64.0, default: 4.0]
    S:cropsYield=4.0

    # GT coal "ore" drop rate [range: 0.1 ~ 64.0, default: 16.0]
    S:gtCoalOreDrops=16.0

    # GT ores drop rate [range: 0.1 ~ 64.0, default: 4.0]
    S:gtOresDrops=4.0

    # GT Underground Fluids pump rate, affects only output [range: 0.1 ~ 64.0, default: 4.0]
    S:gtPumpOutput=4.0

    # GT machines (and Railcraft Coke and Steam Ovens) recipes required energy/time discount rate [range: 0.1 ~ 64.0, default: 4.0]
    S:gtRecipesEnergyDiscount=4.0

    # The list of 'recipe category:value' pairs for more control. Pairs with invalid or outside of [0.1;64] range values are ignored. Exact categories strings are checked first, then substring after the last '.'. Set the first entry to 'print' to print all categories to the log (after loading to the main menu). [default: [!print], [primitiveblastfurnace:228], [gt.recipe.lathe:0]]
    S:gtRecipesPerCategoryEnergyDiscount <
        !print
        primitiveblastfurnace:228
        gt.recipe.lathe:0
     >

    # GT single block miners energy discount, affects energy consumption only [range: 0.1 ~ 64.0, default: 1.0]
    S:gtSimpleMinersEnergyDiscount=1.0

    # GT tools crafting durability rate [range: 0.1 ~ 100.0, default: 8.0]
    S:gtToolsCraftingDurability=8.0

    # IC2 crops yield rate [range: 0.1 ~ 64.0, default: 4.0]
    S:ic2CropsYield=4.0

    # IC2 Tree Tap Resin extraction rate [range: 0.1 ~ 64.0, default: 4.0]
    S:ic2RubberTreeResinYield=4.0

    # IC2 Rubber Tree saplings drop chance (1/35 by default) multiplier [range: 0.1 ~ 64.0, default: 2.0]
    S:ic2RubberTreeSaplingsDropChanceMultiplier=2.0
}


misc {
    # Vanilla (and derivatives) and Natura crops growth overhaul. Makes crops growth dependent on time and less random [default: true]
    B:cropsGrowthOverhaul=true

    # Growth overhaul minimum time to mature (in seconds) [range: 1 ~ 2147483647, default: 300]
    I:cropsTimeToMature=300

    # Singleblock Miners stacking up to 4 blocks [default: true]
    B:enableMinerStacking=true

    # Allow to change the order of quest lines showed in the Quest Book [default: true]
    B:enableMovingQuestLines=true

    # New quests [default: true]
    B:enableNewQuests=true

    # GT Hammer ore prospecting overhaul: smaller radius (adjustable), but scans all blocks in the radius [default: true]
    B:gtHammerOreProspectingOverhaul=true

    # GT Hammer ore prospecting radius [range: 1 ~ 228, default: 2]
    I:gtHammerOreProspectingRadius=2

    # Automatically open Item Holder covers inventories all at once, and disable shift clicking [default: true]
    B:gtItemHolderCoverOpenAuto=true

    # Moved QuestLines, meant to be edited inside the book [highId:lowId:moved?] [default: ]
    S:movedQuestLines <
     >
}


nei {
    # [Requires restart] NEI bookmarks table of content: lists bookmarks namespaces on the first namespace and allows to alias searches [default: true]
    B:enableNEIBookmarksContents=true

    # Prevents listed items recipes to be included in recipe trees [default: true]
    B:enableRecipeExpansionFilter=true

    # Allows autocrafting in Crafting Station to use nearby inventories (slots are hidden). [default: true]
    B:enableTCCraftingStationAdjacentInventoriesSearch=true

    # The 'nearby' inventories distance [range: 1 ~ 228, default: 2]
    I:enableTCCraftingStationAdjacentInventoriesSearchRadius=2

    # Prevents listed items recipes to be included in recipe trees. Checks for !exact_name (inclusion override) -> exact_name -> exact_oredict -> substring_id as collected with NEI hotkeys [default: [logWood], [Cobblestone], [gregtech:gt.metatool.01]]
    S:recipeExpansionFilterRules <
        logWood
        Cobblestone
        gregtech:gt.metatool.01
     >
}


