# Configuration file

experimental {
    # When on, optimize performance of DualHatches that directly accept Encoded Patterns. Useful when number of Co-Processors is very large. [default: true]
    B:"Fast PatternDualInputHatch"=true

    # When on, hatch will sleep when not busy, to ease server load. [default: true]
    B:"Hatch sleep mode"=true

    # When on, ME Cover will be allowed to be placed on machine that requires ME channel. [default: false]
    B:"MECover on MEHatch"=false

    # When on, buffer with more copies gets handled first. If off, just handle the first non-empty buffer first. [default: true]
    B:"Piority mode"=true
}


general {
    # Append 'Added by ProgrammableHatches' at the end of machine desc. [default: true]
    B:appendAddedBy=true

    # Allow you see some technical info in waila, for debugging. [default: false]
    B:debug=false

    # If true, this mod will not add any recipe. [default: false]
    B:skipRecipeAddition=false
}


##########################################################################################################
# id
#--------------------------------------------------------------------------------------------------------#
# Configurable ID settings, DO NOT change it until necessary.
##########################################################################################################

id {
    # The GT MetaTE ID used by this mod, will use range:[offset,offset+200], make sure it's in [14301,14999] or [17000,29999] [range: 14301 ~ 29999, default: 22000]
    I:MetaTEOffset=22000
}


